<footer class="footer"><div class="footer__inner"><div class="copyright"><span>© 2025 Powered by <a href="https://ozysolutions.com">Ozy Solutions</a></span>
<span>:: Theme made by <a href="https://github.com/txk8" target="_blank">Kate</a></span></div></div></footer>
{{ $menu := resources.Get "js/menu.js" | js.Build }}
{{ $cp := resources.Get "js/code.js" | js.Build }}

{{ $bundle := slice $menu $cp | resources.Concat "bundle.js" | resources.Minify }}

<script type="text/javascript" src="{{ $bundle.RelPermalink }}"></script>