<header class="header">
  <div class="header__inner">
    <div class="header__logo">
      <a href="/">
        <div class="logo">Terminal</div>
      </a>
    </div>

    <!-- Mobile Menu -->
    <ul class="menu menu--mobile">
      <li class="menu__trigger" id="mobileMenuTrigger">Menu ▾</li>
      <li>
        <ul class="menu__dropdown" id="mobileMenu">
          <li><a href="/about">About</a></li>
          <li><a href="/blogs/showcase">Blog</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <!-- Desktop Navigation -->
  <nav class="navigation-menu">
    <ul class="navigation-menu__inner menu--desktop">
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/showcase">Blog</a></li>
    </ul>
  </nav>

  <script src="/js/menu.js"></script>
</header>
